:root {
  --black: #222222;
  --warm-grey: #9b9b9b;
  --white: #f2f2f2;
  --red: #ff0d02;
  --white-two: #ffffff;
  --green: #3ca819;
  --blue-green: #14858c;
  --black-two: #000000;
  --black-three: #3a3a3a;
  --white-three: #dbdada;
  --mango: #ffb700;
    --red: #ed0000;
}

photos at https://drive.google.com/drive/u/2/folders/0B-RMpsoJRuhFaFNlODlpaHhoUFE
